.homePageContainer {
  /* background-color: var(--main-bg-color); */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  gap: 200px;
  padding-bottom: 20px;
}

.midSection {
  font-size: 1.8rem;
  color: var(--fourth-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.productCategoriesContainer {
  display: flex;
  justify-content: center;
  width: 80%;
}

.productCategories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 600px) {
  .homePageContainer {
    gap: 20px;
  }
}
